body, html, #root {
    margin: 20px 0;
    min-height: 100vh;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.87);
    background: #000;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;

    p {
        font-size: 15px;
    }

}


.menu {
    display: flex;
    justify-content: flex-end;
    width: auto;
    flex-grow: 1;
}

.menu .ant-menu-item {
    color: #fff;
    font-weight: bold;
}

.menu .ant-menu-item:hover {
    background-color: #333;
}

/* Ajusta o conteúdo principal */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    min-width: 320px; /* Define uma largura mínima para a main */
    width: 100%;

    &::before {
        position: fixed;
        width: 800px;
        height: 200px;
        content: '';
        background-image: linear-gradient(
                to right,
                #8f5de6,
                #0002f6,
                rgba(108, 10, 213, 0.74)
        );
        background-size: 200% 200%; /* Aumenta o tamanho do gradiente para criar o efeito de movimento */
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50% 50% 0 0;
        pointer-events: none;
        filter: blur(250px);
        animation: gradientAnimation 3s ease-in-out infinite; /* Aplica a animação */
    }

}

@keyframes gradientAnimation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.modalInfo .ant-modal-content {
    /*background-color: rgb(7, 7, 7);*/
    background: linear-gradient(135deg, rgb(37, 17, 46), rgb(7, 9, 50), rgb(39, 15, 60)) !important;

    color: #ffffff;
}

.modalContentFilm {
    display: flex;
    gap: 50px;


}

.titleModal {
    color: #eacd0d;
}

.search-box {

    width: 600px;

    @media (max-width: 700px) {
        width: 300px;

    }
}
